Package: nodeinfo
Version: 1.0.6
Section: admin
Priority: optional
Architecture: all
Depends: python3
Maintainer: Robin Brown admin@stonewallmedia.co.uk
Description: CLI tool to inspect Proxmox VMs/CTs and update Notes
